@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap');

header {
    background-color: #240046;
    color: #fff;
    padding: 10px 0;
}

/* Container para centralizar o conteúdo */
.container {
    display: flex;
    justify-content: flex-end; /* Alinha o menu à direita */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
    box-sizing: border-box;
}



/* Estilo para o título */
#title {
    text-align: center;
    color: white;
    font-size: 2rem;
    margin-top: 20px;
	font-weight: bold;
}

/* Estilo para o menu */
#menu {
    display: absolute;
    display: relative;
    justify-content: center;
    align-items: center;
    color: white;
	font-weight: bold;
}

/* Estilo para o link do menu */
#menu-option {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
	font-weight: bold;
}

/* Fundo para o corpo */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Cinzel', serif;
	font-size: 20px;
    text-align: center;
    background-size: cover;
    background-position: center;
	background-color: #fff;
	font-weight: bold;
	text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.pg_inicial {
	background-image: url('media/background_rpg.jpeg'); /* Adicione o caminho para o seu background */
}

.pg_mb {
	background-image: url('media/background_mb.jpeg');
}

.logo {
    position: absolute;
    top: 0;
    left: 0;
}

.quadro {
            margin: auto;
			max-width: 800px;
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.8);
            border-radius: 10px;
            text-align: justify;
			justify-content: center;
			
        }

/* Estilo para o vídeo */
video {
    width: 90%;
    height: auto;
    max-height: 90%;
    background-color: black;
    margin-top: 20px;
}

/* Estilo para o áudio */
audio {
    margin-top: 20px;
}

/* Estilo para o submenu */
.submenu {
    display: none;
    position: relative;
    background-color: #393;
    padding: 10px;
    list-style: none;
    margin: 0;
    border-radius: 5px;
    z-index: 1000; /* Garante que o submenu apareça sobre outros elementos */
	top:100%;
	left:0;
	max-height: 200px; /* Ajuste conforme necessário */
    overflow-y: auto; /* Adiciona uma barra de rolagem se o conteúdo ultrapassar a altura máxima */
}

/* Mostrar o submenu ao passar o mouse */
nav ul li:hover .submenu {
    display: block;
}

/* Mostrar o submenu ao clicar */
.show {
    display: block;
}

/* Estilo para o menu principal */
.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    border-bottom: 2px solid #fff;
    font-size: 1.2rem;
	font-weight: bold;
}

.menu li {
    margin: 0 15px;
    position: relative;
	font-weight: bold;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 20px; /* Aumenta a área de clique */
}

.menu .dropdown {
    position: relative;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilo para o menu de rodapé */
.footer-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-menu li {
    margin: 0 15px;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}




/* Estilo para dispositivos móveis */
@media (max-width: 768px) {
    nav ul.menu {
        flex-direction: column;
    }
    
    nav ul.menu > li {
        width: 100%;
    }

    ul.submenu {
        position: static;
    }

    nav ul.menu li.dropdown:hover > ul.submenu {
        display: none;
    }

    .dropdown > a:focus + .submenu,
    .dropdown > a:hover + .submenu {
        display: block;
    }
}

  <style>
        .button-panel {
            display: flex;
            flex-wrap: wrap;
            max-width: 150px;
            margin: auto;
        }
        .button-panel button {
            width: 30px;
            height: 30px;
            margin: 5px;
            font-size: 16px;
        }
.painel {
		
	background-image: url('media/background_mb.jpeg');	
}